@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
}
.rocket-mov{
    transition: transform 5s;
    transform: translateX(calc(70vw));
}
.rocket2-mov{
    transition-property: transform;
    transition-duration: 4s;
    transition-delay: 4s;
    transform: translateX(calc(-70vw));
}
.bg-gray-main{
    background-color: white;
}
.text-or{
    color: #FF7426;
}
.vh-nav{
    height: calc(100vh - 64px);
}
.dash-h{
    height: calc(100% - 48px);
}
.border-1{
    border-width: 1px;
}
.border-b-1{
    border-bottom-width: 1px;
}

@media (max-width:700px){
    .main-cont{
        display: none;
    }
}
@media(min-width:700px){
    .main-cont{
        display: block;
    }
}

@media (min-width: 1536px)
{
    .rocket-mov{
        transition: transform 5s;
        transform: translateX(calc(.7 * 1536px));
    }
    .rocket2-mov{
        transition-property: transform;
        transition-duration: 4s;
        transition-delay: 4s;
        transform: translateX(calc(-1 * .7 * 1536px));
    }
}
@media(max-width:700px){
    
    .rocket-mov{
        transition: transform 5s;
        transform: translateX(calc(100vw));
    }
    .rocket2-mov{
        transition-property: transform;
        transition-duration: 4s;
        transition-delay: 4s;
        transform: translateX(calc(-100vw));
    }
   
}
@media(max-width:1024px){
    .dash-h{
        height: fit-content;
    }
    .vh-nav{
        height: fit-content;
    }
}
.model{
    background: rgb(0, 0, 0,0.4);
}